:root {
    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Grey-900);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.user-profile {
    background-color: var(--Grey-800);
    color: var(--White);
    margin: 11rem auto;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.user-profile__avatar {
    margin: 2.3rem auto 1.8rem auto;
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

.user-profile__name {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .55rem;
}

.user-profile__location {
    color: var(--Green);
    font-size: 0.88rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.user-profile__info {
    margin-bottom: 1.6rem;
}

.user-profile__social-links {
    list-style: none;
}

.user-profile__social-links li {
    font-weight: 700;
    background-color: var(--Grey-700);
    padding: 0.85rem 5.95rem;
    margin-bottom: 1.05rem;
    margin-inline: 2.5rem;
    border-radius: 10px;
}

.user-profile__social-links li:last-child {
    margin-bottom: 2.6rem;
}

.user-profile__social-links li:hover {
    background-color: var(--Green);
    transition: 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 700px) {
    .user-profile {
        margin: 7rem auto;
    }

    .user-profile__avatar {
        margin: 1.7rem auto 1.8rem auto;
    }

    .user-profile__name {
        margin-bottom: 0.5rem;
    }

    .user-profile__social-links li {
        padding: 0.88rem 5.15rem;
        margin-bottom: 1rem;
        margin-inline: 1.5rem;
    }

    .user-profile__social-links li:last-child {
        margin-bottom: 1.6rem;
    }
}